RewriteEngine On
# Set default language
RewriteCond %{REQUEST_URI} ^/$
RewriteCond %{ENV:lang} !^$
RewriteRule ^$ %{ENV:lang}/ [R=302,L]
RewriteBase /

# Supported languages
SetEnvIf Accept-Language ^en lang=en
SetEnvIf Accept-Language ^de lang=de

# Fallback, ha semmi sem egyezik
SetEnvIf lang ^$ lang=hu

# If no language route
RewriteCond %{REQUEST_URI} !^/(en|hu|de)/
RewriteCond %{REQUEST_URI} \.html$ [NC]
RewriteRule ^(.*\.html)$ %{ENV:lang}/$1 [R=302,L]

# Add content type
<FilesMatch "\.html$">
  Header set Content-Type "text/html; charset=UTF-8"
</FilesMatch>
