<footer class="footer">
    <div class="footer-content">
        <div>
            <h3 data-i18n="footerCompanyName">BeyondStart Solutions</h3>
            <p data-i18n="footerCompanyDetails">
                Cégvezető: Varga Tamás<br>
                Székhely: Str. Parângului 10, Ap. 2, 440031, Satu Mare, Romania.<br>
                Adószám: RO43923085<br>
                Cégjegyzékszám: J30/291/2021
            </p>
        </div>
        <div>
            <h3 data-i18n="footerLegal">Jogi dokumentumok</h3>
            <ul>
                <li><a href="/impresszum.html" class="hover:underline" data-i18n="footerImprint">Impresszum</a></li>
                <li><a href="/adatvedelem.html" class="hover:underline" data-i18n="footerPrivacy">Adatvédelmi
                    irányelvek</a></li>
                <li><a href="/cookie.html" class="hover:underline" data-i18n="footerCookies">Cookie tájékoztató</a></li>
                <li><a href="/aszf.html" class="hover:underline" data-i18n="footerTerms">ÁSZF</a></li>
            </ul>
        </div>
        <div>
            <h3 data-i18n="footerContact">Kapcsolat</h3>
            <ul>
                <li>
                    <span data-i18n="footerEmail">E-mail:</span>
                    <a href="mailto:zuglo.istvan@gmail.com" class="hover:underline">zuglo.istvan[at]gmail[dot]com</a>
                </li>
                <li>
                    <span data-i18n="footerPhone">Telefon:</span>
                    <a href="tel:+36304915909" class="hover:underline">+36 30 491 5909</a>
                </li>
            </ul>
        </div>
        <div>
            <h3 data-i18n="footerNav">Navigáció</h3>
            <ul>
                <li><a href="/" class="hover:underline" data-i18n="footerNavHome">Főoldal</a></li>
                <li><a href="/#services" class="hover:underline" data-i18n="footerNavServices">Szolgáltatások</a></li>
                <li><a href="/#about" class="hover:underline" data-i18n="footerNavAbout">Rólunk</a></li>
                <li><a href="/#contact" class="hover:underline" data-i18n="footerNavContact" onclick="
                tracking('footer_cta', 'CTA', 'Footer CTA', 'AW-16905609495/d-8HCMS2mYAbEJfCnP0-');">
                    Kapcsolat
                </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom" data-i18n="footerCopyright">
        &copy; 2026 madmaselfelvasarlas.hu. Minden jog fenntartva.
    </div>
</footer>
