<header id="site-header" class="site-header">
    <!-- Logo -->
    <a href="/">
        <img src="/images/madmasel_logo_sm.webp" alt="Madmasek Autófelvásárlás logó" width="200" height="56"
             loading="eager" decoding="async" fetchpriority="high">
    </a>

    <!-- Mobile navigation -->
    <input type="checkbox" id="nav-toggle" class="nav-toggle" aria-label="Menü megnyitása">
    <label for="nav-toggle" class="nav-toggle-label">
        <span></span>
    </label>

    <!-- Navigation -->
    <div class="header-right">
        <nav class="main-nav" aria-label="Fő navigáció">
            <ul>
                <li><a href="/#services" data-i18n="servicesTitle">Szolgáltatások</a></li>
                <li><a href="/#testimonials" data-i18n="testimonialTitle">Vélemények</a></li>
                <li><a href="/#about" data-i18n="aboutTitle">Rólunk</a></li>
                <li><a
                        href="/#contact"
                        data-i18n="ctaBlockTitle"
                        onclick="
                        tracking('main_menu_cta_click', 'CTA', 'Main Menu CTA', 'AW-16905609495/CReZCNfPrP4aEJfCnP0-');">
                    Kapcsolat
                </a>
                </li>
            </ul>
        </nav>

        <!-- Language Selector -->
        <form action="" method="get" onsubmit="event.preventDefault(); location.href=this.language.value;">
            <div class="language-switcher">
                <label for="language" class="sr-only">Nyelvválasztás</label>
                <select id="language" name="language" aria-label="Language selection" class="language-select">
                    <option value="/hu/index.html">🇭🇺 HU</option>
                    <option value="/en/index.html">🇬🇧 EN</option>
                    <option value="/de/index.html">🇩🇪 DE</option>
                </select>
                <button type="submit"
                        class="language-button"
                        onclick="
                        tracking('language_change', 'Event', 'Language change', 'AW-16905609495/VVnmCLb-mIAbEJfCnP0-');">
                    OK
                </button>
            </div>
        </form>
    </div>
</header>
