<!DOCTYPE html>

<html lang="hu">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>Here si your title</title>
    <meta content="This is the meta description"
          name="description"/>
    <link rel="stylesheet" href="/style.min.css">
    <link as="image" href="/images/hero_bg.webp" rel="preload" type="image/webp"/>
    <link href="/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180"/>
    <link href="/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png"/>
    <link href="/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png"/>
    <link href="/site.webmanifest" rel="manifest"/>
    <meta content="this is OG title" property="og:title"/>
    <meta content="OG description."
          property="og:description"/>
    <meta content="/images/beyondstart_logo_sm.webp" property="og:image"/>
    <meta content="https://beyondstart.solutions" property="og:url"/>
    <meta content="website" property="og:type"/>
    <link href="https://beyondstart.solutions/" rel="canonical" />
</head>
<body>
<a class="skip-link" data-i18n="jumpToMainContent" href="#main">Jump to main content</a>
<div class="site-loader" id="site-loader">
    <div class="loader-circle"></div>
</div>
<main id="main">

</main>
<!-- Sticky CTA -->
<a class="sticky-cta" data-i18n="stickyCTA" href="#contact">Lorem ipsum</a>
<script src="/translations.min.js" defer></script>
<script src="/script.min.js" defer></script>
</body>
</html>
